.DS_Store
node_modules
/dist
/.rdvue/template
package-lock.json

/tests/e2e/reports/
selenium-debug.log

# key files
.infra/meta/.ssh/iac-track
.infra/meta/.ssh/iac-track.pub
.infra/meta/.ssh/iac_learning_track
.infra/meta/.ssh/iac_learning_track.pub
.infra/meta/.aws/credentials
.infra/meta/.aws/config

# local env files
.env.local
.env.*.local

# npm source file
.npmrc

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.infra/meta/.aws/credentials
.infra/meta/.ssh/iac_learning_track
.infra/meta/.ssh/id_rsa
.infra/meta/.ssh/id_rsa.pub
.infra/meta/.ssh/known_hosts
.infra/meta/.aws/credentials
.infra/prod/.terraform.lock.hcl
.infra/prod/.terraform/providers/registry.terraform.io/hashicorp/aws/4.59.0/linux_amd64/terraform-provider-aws_v4.59.0_x5
.infra/prod/.terraform/modules/main_site
