/**
 * Default colors used by Tailwind in Light theme.
 */
:root {
	--typography-primary: #000000;
	--typography-secondary: #1877f2;
	--typography-error: #ac3838;
	--typography-success: #3fb984;
	--typography-light: #b521c9;
	--typography-background: #F7F9F9;
	--app-background: #f0f2f5;
	--app-footer: #fff;
	--app-footer-typography: #737373;
	--login-form-background: #fff;
	--border-light: #dddfe2;
	--border-dark: #1877f2;
	--button-background-main: #1877f2;
	--button-text-color: #FFFFFF;
	--button-background-hover: #0400ff;
	--button-success: #42b72a;
	--button-success-secondary: #163310;
	--button-warning: #d3782d;
	--button-error: #ff00ea;
	--features-primary: #eb8006;
	--features-secondary: #eb06a7;
	--login-button-background: #d0021b;
}

.theme-color-preference {

	/**
   * Dark Theme.
   * Override default colors to match theme.
   * Also, add theme specific element styling.
   */
	&.dark {
		--typography-primary: #194d33;
		--typography-secondary: #6584;
		--typography-error: #9568;
		--typography-success: #3d573d;
		--typography-light: #718096;
		--app-background: #191919;
		--app-footer: #000000;
		--border-light: #eaeaea;
		--button-success: #00572b;
		--button-warning: #c15f00;
		--button-error: #610000;
	}

}